@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1>Welcome to Online Food Ordering</h1>
    <p>
        <a class="btn btn-primary btn-lg" href="/Home/Menu" role="button">Order Now</a>
    </p>
</div>
